body {
	font-family: 'Dosis', sans-serif;
	margin: 0;
	background-color: #181743;
	color: whitesmoke;
	position: relative;
}

#constelation {
	position: absolute;
	width: 100%;
	height: 100%;
}

main {
	position: relative;
	min-height: 100vh;
}

.star {
	background-color: whitesmoke;
	border-radius: 100%;
	position: absolute;
	box-shadow: 0 0 20px white;
}

#stars-container {
	position: absolute;
	width: 40%;
	height: 40%;
	top: 3%;
	right: 3%;
}

#front {
	margin-bottom: 10%;
}

section {
	height: 100vh;
	position: relative;
}

a {
	text-decoration: none;
	color: whitesmoke;
}

nav {
	padding-top: 40px;
	padding-left: 40px;
	padding-right: 40px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	text-align: right;
}

.nav-item {
	display: inline-block;
	margin-left: 20px;
}

.nav-item.selected {
	border-bottom: 1px solid whitesmoke;
	padding-bottom: 5px;
	border-bottom-left-radius: 1px;
	border-bottom-right-radius: 1px;
}

footer {
	text-align: center;
	padding-top: 100px;
	color: whitesmoke;
	padding-bottom: 20px;
}

#title {
	position: absolute;
	top: 40%;
	left: 20%;
	right: 20%;
	text-align: center;
}

.short-bio {
	margin-top: 20px;
	font-size: 1.5em;
}

.arrow-down {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	animation: jump 2s ease infinite;
  	animation-delay: 0.5s;
  	padding-bottom: 20px;
}

@keyframes jump { 0% { bottom: 1%; } 50% { bottom: 2%; } 100% { bottom: 1%; } }

h1 {
	margin: 0;
	font-weight: 400;
	font-size: 2.5em;
}

h3 {
	margin: 0;
	font-weight: 400;
	font-size: 2em;
}

.skills-container {
	position: absolute;
	left: 30%;
	top: 25%;
	right: 30%;
	z-index: 1;
	display: flex;
}

.skills-item {
	flex-grow: 1;
	width: 100%;
	position: relative;
	margin-right: 10px;
	margin-left: 10px;
}

.skill {
	margin-bottom: 20px;
	position: relative;
	white-space: nowrap;
}

.skill:after {
	content: '';
	position: absolute;
	border: 0.5px solid whitesmoke;
	height: 5px;
	left: 0;
	right: 0;
	background-color: whitesmoke;
	border-radius: 100px;
	opacity: 0.4;
}

.skillbar {
	position: absolute;
	border: 0.5px solid whitesmoke;
	height: 5px;
	left: 0;
	background-color: whitesmoke;
	border-radius: 100px;
}

.skillbar.fill-70 {
	right: 30%;
}

.skillbar.fill-50 {
	right: 50%;
}

.skillbar.fill-45 {
	right: 55%;
}

.skillbar.fill-35 {
	right: 65%;
}

.skillbar.fill-25 {
	right: 75%;
}

.skillbar.fill-20 {
	right: 80%;
}

.timeline-container {
  	position: relative;
  	padding-top: 300px;
}

.timeline-container:after {
	content: '';
	position: absolute;
	width: 6px;
  	background-color: whitesmoke;
  	top: 300px;
  	bottom: 0;
  	left: 50%;
  	transform: translateX(-50%);
  	border-bottom-left-radius: 100px;
  	border-bottom-right-radius: 100px;
}

.timeline-item {
    min-height: 200px;
}

.timeline-item div {
	margin-bottom: 10px;
}

.left {
	position: absolute;
    right: 55%;
    text-align: right;
    width: 25%;
}

.right {
	position: absolute;
    left: 55%;
    text-align: left;
    width: 25%;
}

.timeline-item:after {
	content: '';
	position: absolute;
  	width: 25px;
    height: 25px;
    left: 50%;
  	border: 4px solid whitesmoke;
  	background-color: #181743;
  	z-index: 1;
  	border-radius: 100%;
  	transform: translateX(-50%);
}

/**************************/
/** Earth planet drawing **/
/**************************/

.earth-corner {
	position: absolute;
	bottom: 0;
	left: -5%;
	width: 500px;
	height: 500px;
	transform: translate(-15%, 30%);
}

#earth {
	border-radius: 50%;
	width: inherit;
	height: inherit;
	background-color: #20BCF1;
	position: absolute;
	left: 0;
	bottom: 0;
	overflow: hidden;
	transform: rotate(-8deg);
	box-shadow: 
    inset 50px 5px rgba(110, 129, 227, 0.2), 
    0 0 0 120px rgba(20, 106, 221, 0.1),
    0 0 0 300px rgba(20, 106, 221, 0.1),
    0 0 0 500px rgba(20, 106, 221, 0.1);
}

#earth .land {
	position: absolute;
	width: 300px;
	height: 100px;
	background-color: #8CD867;
	border-radius: 65px;
	z-index: -1;
}

.land.land-part-1 {
  top: 140px;
  left: -80px;
}

.land.land-part-2 {
  top: 210px;
  left: -120px;
  border-top-right-radius: 0px;
}

.land.land-part-3 {
  top: 260px;
  left: -160px;
}

.land.land-part-4 {
  top: 90px;
  right: -130px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 70px;
}

.land.land-part-5 {
  top: 160px;
  right: -90px;
}

.land.land-part-6 {
  top: 320px;
  right: -190px;
}

/*************************************/
/** Clouds, small and big, drawings **/
/*************************************/

.cloud-big {
	position: absolute;
	width: 200px;
	right: 0;
	top: 56%;
	height: 10px;
	background-color: whitesmoke;
	border-top-left-radius: 400px; /* size x 2 */
	border-top-right-radius: 400px;
	border-bottom-left-radius: 100px;
	border-bottom-right-radius: 100px;
	box-shadow: -15px 10px 20px rgba(110, 129, 227, 0.2);
	z-index: 2;
	transform: rotate(-8deg) translateX(-30%);
}

.cloud-big .cloud-big-part-1 {
	position: absolute;
	border-top-left-radius: 110px;
	border-top-right-radius: 110px;
	width: 55px;
	height: 30px;
	left: 12px;
	top: -21px;
	background-color: whitesmoke;
}

.cloud-big .cloud-big-part-2 {
	position: absolute;
	border-top-left-radius: 140px;
	border-top-right-radius: 140px;
	width: 70px;
	height: 40px;
	left: 50px;
	top: -39px;
	background-color: whitesmoke;
}

.cloud-big .cloud-big-part-3 {
	position: absolute;
	border-top-left-radius: 120px;
	border-top-right-radius: 120px;
	width: 60px;
	height: 30px;
	left: 100px;
	top: -21px;
	background-color: whitesmoke;
}

.cloud-big .cloud-big-part-4 {
	position: absolute;
	border-top-left-radius: 130px;
	border-top-right-radius: 130px;
	width: 65px;
	height: 20px;
	left: 122px;
	top: -10px;
	background-color: whitesmoke;
}

.cloud-small {
	position: absolute;
	width: 100px;
	top: 45%;
	left: 30%;
	height: 10px;
	background-color: whitesmoke;
	border-top-left-radius: 200px; /* size x 2 */
	border-top-right-radius: 200px;
	border-bottom-left-radius: 50px;
	border-bottom-right-radius: 50px;
	box-shadow: -15px 10px 20px rgba(110, 129, 227, 0.2);
	transform: rotate(-8deg);
}

.cloud-small .cloud-small-part-1 {
	position: absolute;
	border-top-left-radius: 110px;
	border-top-right-radius: 110px;
	width: 55px;
	height: 30px;
	left: 12px;
	top: -22px;
	background-color: whitesmoke;
}

.cloud-small .cloud-small-part-2 {
	position: absolute;
	border-top-left-radius: 130px;
	border-top-right-radius: 130px;
	width: 65px;
	height: 20px;
	left: 23px;
	top: -12px;
	background-color: whitesmoke;
}

/***********************/
/** Telescope drawing **/
/***********************/

#telescope {
	position: absolute;
	top: -30px;
	left: 30%;
	transform: rotate(-12deg);
}

.telescope-arm {
}

.telescope-arm-small {
	position: absolute;
	width: 50px;
	height: 30px;
	border-radius: 5px;
	top: 25px;
	transform: translateY(-50%);
	background-color: crimson;
	box-shadow: inset 0 -7px rgba(178, 34, 34, 0.5);
}

.telescope-arm-big {
	position: absolute;
	width: 100px;
	height: 50px;
	border-radius: 5px;
	left: 45px;
	background-color: crimson;
	box-shadow: inset 0 -10px rgba(178, 34, 34, 0.5);
}

.telescope-lens-edge {
	position: absolute;
	width: 10px;
	height: 60px;
	border-radius: 30px;
	left: 135px;
	background-color: gold;
	top: -5px;
	box-shadow: inset 0 -7px rgba(255, 165, 0, 0.5);
}

.telescope-lens {
	position: absolute;
	width: 50px;
	height: 50px;
	border-radius: 100%;
	background-color: cornflowerblue;
	left: 110px;
	box-shadow: inset 0 -10px rgba(65, 105, 255, 0.5);
}

.telescope-lens:after {
	position: absolute;
	content: '';
	width: 5px;
	height: 5px;
	border-radius: 100%;
	background-color: whitesmoke;
	opacity: 0.2;
	left: 39px;
	top: 10px;
}

.telescope-baseleg-middle {
	position: absolute;
	width: 5px;
	height: 40px;
	background-color: maroon;
	bottom: -80px;
	left: 80px;
	border-radius: 3px;
}

.telescope-baseleg-right {
	position: absolute;
	width: 5px;
	height: 40px;
	background-color: maroon;
	bottom: -75px;
	left: 88px;
	border-radius: 3px;
	transform: rotate(-20deg);
}

.telescope-baseleg-left {
	position: absolute;
	width: 5px;
	height: 40px;
	background-color: maroon;
	bottom: -75px;
	left: 72px;
	border-radius: 3px;
	transform: rotate(20deg);
}

.star-twinkle.telescope-glow {
	left: 152px;
	top: 10px;
}

.moon {
	position: absolute;
  	width: 100px;
  	height: 100px;
  	border-radius: 100%;
  	background-color: #E8F7EE;
  	box-shadow: inset -10px -10px rgba(0, 0, 0, 0.2);
  	right: 7%;
  	animation: bounce 2s ease infinite;
  	animation-delay: 0.5s;
}

@keyframes bounce {
  0% {
    bottom: -29%;
  }
  50% {
    bottom: -30%;
  }
  100% {
    bottom: -29%;
  }
}

.rocket.frontpage {
	position: absolute;
    right: -20%;
    bottom: 0;
    transform: rotate(115deg);
}

.rocket {
}

.rocket.portfolio {
	position: absolute;
	transform: scale(2) rotate(70deg);
	-webkit-transform: scale(2) rotate(70deg);
	top: -50px;
	left: 8%;
}

.rocket .smiley {
	width: 40px;
	height: 40px;
	border-radius: 100%;
	left: 55%;
	position: absolute;
	opacity: 0.5;
	background-color: white;
}

.smiley .left-eye {
	position: absolute;
	background-color: gray;
	width: 2px;
	height: 2px;
	border-radius: 100%;
	top: 65%;
	left: 18%;
}

.smiley .right-eye {
	position: absolute;
	background-color: gray;
	width: 2px;
	height: 2px;
	border-radius: 100%;
	top: 25%;
	left: 18%;
}

.smiley .mouth-left {
	position: absolute;
	background-color: gray;
	width: 6px;
	height: 2px;
	border-radius: 20px;
	left: 20%;
	transform: rotate(-45deg);
	top: 48%;
}

.smiley .mouth-right {
	position: absolute;
	background-color: gray;
	width: 6px;
	height: 2px;
	border-radius: 20px;
	left: 20%;
	transform: rotate(45deg);
	top: 40%;
}

@keyframes flamebig-move {
	0% {
		transform: rotate(-45deg);
	}
	25% {
		transform: rotate(-50deg);
	}
	50% {
		transform: rotate(-45deg);
	}
	75% {
		transform: rotate(-40deg);
	}
	100% {
		transform: rotate(-45deg);
	}
}

@keyframes flamesmall-move {
	0% {
		transform: rotate(-45deg);
	}
	25% {
		transform: rotate(-47deg);
	}
	50% {
		transform: rotate(-45deg);
	}
	75% {
		transform: rotate(-42deg);
	}
	100% {
		transform: rotate(-45deg);
	}
}

.rocket-flame-big {
	width: 80px;
  	height: 80px;
  	border-radius: 75% 0%;
  	background-color: red;
  	bottom: -120px;
  	position: absolute;
  	left: 35px;
  	opacity: 0.5;
  	transform: rotate(-45deg);

}

.rocket-flame-big.animated {
	animation: flamebig-move 1s ease infinite;
}

.rocket-flame-small {
	width: 50px;
  	height: 50px;
  	border-radius: 75% 0%;
  	background-color: orange;
  	bottom: -100px;
  	position: absolute;
  	left: 50px;
  	opacity: 0.5;
  	transform: rotate(-45deg);
}

.rocket-flame-small.animated {
	animation: flamesmall-move 1s ease infinite;
}

.rocket-body{
	width: 150px;
  	height: 150px;
  	border-radius: 75% 0%;
  	background-color: firebrick;
  	transform: rotate(-45deg);
  	position: absolute;
  	top: -100px;
  	box-shadow: inset 0 -15px rgba(139, 0, 0, 0.5);
}

.rocket-top-part-left {
	top: -123px;
	position: absolute;
	width: 0px;
	height: 0px;
	left: 33px;
	border-right: 31px solid transparent;
	border-left: 31px solid transparent;
	border-bottom: 31px solid gold;
	border-radius: 100%;
	transform: rotate(135deg);
}

.rocket-top-part-right {
	top: -123px;
	position: absolute;
	width: 0px;
	height: 0px;
	left: 54px;
	border-right:31px solid transparent;
	border-left:31px solid transparent;
	border-bottom:31px solid gold;
	border-radius: 100%;
	transform: rotate(225deg);
}

.rocket-window {
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	background-color: cornflowerblue;
	border: 5px solid rgb(255, 165, 0);
	top: -70px;
	left: 50px;
	box-shadow: inset -3px -3px rgba(0, 0, 0, 0.2);
	overflow: hidden;
}

.rocket-backwing-middle-left {
	position: absolute;
	width: 0px;
	height: 0px;
	left: 60px;
	top: 47px;
	border-right: 20px solid transparent;
	border-left: 30px solid transparent;
	border-bottom: 20px solid rgb(255, 165, 0);
	transform: rotate(90deg);
}

.rocket-backwing-middle-right {
	position: absolute;
	width: 0px;
	height: 0px;
	top: 47px;
	left: 40px;
	border-right: 30px solid transparent;
	border-left: 20px solid transparent;
	border-bottom: 20px solid gold;
	transform: rotate(270deg);
}

.rocket-backwing-left {
	position: absolute;
	width: 0px;
	height: 0px;
	left: 8px;
	top: 40px;
	border-right: 31px solid transparent;
	border-left: 31px solid transparent;
	border-bottom: 31px solid gold;
	border-radius: 70%;
	transform: rotate(98deg);
}

.rocket-backwing-right {
	position: absolute;
	width: 0px;
	height: 0px;
	left: 81px;
	top: 40px;
	border-right:31px solid transparent;
	border-left:31px solid transparent;
	border-bottom:31px solid rgb(255, 165, 0);
	border-radius: 70%;
	transform: rotate(262deg);
}

/*******************/
/** Twinkly stars **/
/*******************/

.star-twinkle {
	position: absolute;
  	width: 6px;
  	height: 6px;
  	border-radius: 100%;
  	background-color: whitesmoke;
}

.star-twinkle div:nth-child(1) {
  	position: absolute;
  	height: 4px;
  	border-radius: 100%;
  	/*animation: twinkle-width 1s ease infinite; <-- set through javascript*/
  	top: 50%;
  	transform: translateY(-50%);
  	background-color: whitesmoke;
}

.star-twinkle.telescope-glow div:nth-child(1) {
	animation: twinkle-width 2s ease infinite;
}

.star-twinkle div:nth-child(2) {
	position: absolute;
  	width: 4px;
  	border-radius: 100%;
  	/*animation: twinkle-height 1s ease infinite; <-- set through javascript*/
  	left: 50%;
  	transform: translateX(-50%);
  	background-color: whitesmoke;
}

.star-twinkle.telescope-glow div:nth-child(2) {
	animation: twinkle-height 2s ease infinite;
}

@keyframes twinkle-height {
  0% {
    height: 20px;
    top: -6px;
    opacity: 0.8;
  }
  50% {
    height: 4px;
    top: 0px;
    opacity: 1;
  }
  100% {
    height: 20px;
    top: -6px;
    opacity: 0.8;
  }
}

@keyframes twinkle-width {
  0% {
    width: 20px;
    left: -6px;
    opacity: 0.8;
  }
  50% {
    width: 4px;
    left: 0px;
    opacity: 1;
  }
  100% {
    width: 20px;
    left: -6px;
    opacity: 0.8;
  }
}

/* Phones */

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 812px)
  and (orientation: landscape) {
  	
       #title {
          top: 35%;
          left: 15%;
          right: 15%;
      }
      
	h1 {
          font-size: 2.2em;
      }
      
      h3 {
          font-size: 1.5em;
      }
      
      .earth-corner {
          transform: scale(0.5);
          left: -30%;
          bottom: -100%;
      }
      
      .moon {
          transform: scale(0.5);
          
      }
      
      .arrow-down {
          padding-bottom: 0;
      }
      
      .rocket.frontpage {
         left: 90%;
         bottom: -5%;
         right: auto;
      }
      
      .skills-container {
          left: 20%;
          right: 20%;
      }
      
      .left {
          width: 35%;
      }
      
      .right {
          width: 35%;
      }
}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 812px)
  and (orientation: portrait) {
  	  #title {
          top: 30%;
          left: 15%;
          right: 15%;
      }
      
      h1 {
          font-size: 2.2em;
      }
      
      h3 {
          font-size: 1.5em;
      }
      
      .short-bio {
          font-size: 1.2em;
      }
      
      nav {
          padding-top: 20px;
          padding-left: 20px;
          padding-right: 20px;
      }
      
      .arrow-down {
          padding-bottom: 30%;
      }
      
      .earth-corner {
          transform: scale(0.5);
          left: -55%;
          bottom: -100%;
      }
      
      .skills-container {
          left: 20px;
          right: 20px;
          flex-direction: column;
      }
      
      .skills-item {
          margin: 0;
      }
      
      .telescope-arm {
          transform: rotate(-15deg);
          position: relative;
          top: 15px;
      }
      
      .rocket.frontpage {
         left: 80%;
         bottom: -20%;
         right: auto;
         transform: rotate(140deg); 
      }
      
      .moon {
          transform: scale(0.5);
      }
      
      #timeline {
          padding-top: 90%;
      }
      
      .timeline-container:after {
          left: 0;
          margin-left: 40px;
      }
      
      .timeline-item:after {
          left: 0;
          margin-left: 40px;
      }
      
      .timeline-item .left {
          left: 20%;
          padding-right: 20px;
          text-align: left;
          right: 0;
          width: auto;
      }
      
      .timeline-item .right {
          left: 20%;
          text-align: left;
          right: 0;
          width: auto;
          padding-right: 20px;
      }

      .rocket.portfolio {
          transform: scale(0.8) rotate(70deg);
          top: -5%;
          left: 15%;
      }
}

/* Tablets should have no problem viewing the desktop version */
